@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 1;
  color: #0b0c0c;
  background-color: white;
  text-rendering: opitimizeLegibility;
}

/* ******************************************************** */
#slide-container {
  transition: margin-left 1s ease-in-out;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
}

.slide {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.number,
.flag {
  color: white;
}

.discovery .label {
  color: #2e358b;
}
.discovery .number,
.discovery .flag {
  background-color: #2e358b;
}

.alpha .label {
  color: #d53880;
}
.alpha .number,
.alpha .flag {
  background-color: #d53880;
}

.beta .label {
  color: #f47738;
}
.beta .number,
.beta .flag {
  background-color: #f47738;
}

.live .label {
  color: #85994b;
}
.live .number,
.live .flag {
  background-color: #85994b;
}

/* ******************************************************** */
.transformation img {
  display: block;
  margin: 0 auto;
  height: 800px;
}

/* ******************************************************** */
.intro {
  padding: 60px;
  line-height: 1.2;
}

/* ******************************************************** */
.definitions {
  line-height: 1.2;
}
.definitions article {
  display: table-row;
}
.definitions div {
  display: table-cell;
  height: 2em;
  padding: 0.5em 30px;
}
.definitions .flag {
  padding: 0 30px 0 90px;
}
.definitions .detail {
  padding-right: 90px;
}

/* ******************************************************** */
.numbers {
  text-align: center;
  display: table;
  width: 100%;
}
.numbers article {
  display: table-cell;
  width: 25%;
  text-align: center;
}
.numbers .label {
  margin: 0;
}
.numbers .number {
  color: white;
  margin: 0 auto 60px auto;
  border-radius: 100%;
  font-size: 257.142857142857%;
  width: 2em;
  height: 2em;
  line-height: 2em;
}

/* ******************************************************** */
.url {
  font-size: 171.428571428571%;
  text-align: center;
}
