@import '_colours';
@import '_typography';
@import '_measurements';

$discovery: $purple;
$alpha: $pink;
$beta: $orange;
$live: $grass-green;

html, body {
  width: 100%;
  height: 100%;

}

body {
  padding: 0;
  margin: 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: bold;
  font-size: 70px;
  line-height: 1;
  color: $black;
  background-color: $white;
  text-rendering: opitimizeLegibility;
}

/* ******************************************************** */

#slide-container {
  transition: margin-left 1s ease-in-out;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
}

.slide {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.number,
.flag {
  color: $white;
}

.discovery {
  .label {
    color: $discovery;
  }
  .number,
  .flag {
    background-color: $discovery;
  }
}
.alpha {
  .label {
    color: $alpha;
  }
  .number,
  .flag {
    background-color: $alpha;
  }
}
.beta {
  .label {
    color: $beta;
  }
  .number,
  .flag {
    background-color: $beta;
  }
}
.live {
  .label {
    color: $live;
  }
  .number,
  .flag {
    background-color: $live;
  }
}

/* ******************************************************** */

.transformation {
  img {
    display: block;
    margin: 0 auto;
    height: 800px;
  }
}

/* ******************************************************** */

.intro {
  padding: ($gutter*2);
  
  line-height: 1.2;
  
}

/* ******************************************************** */

.definitions {
  line-height: 1.2;
  article {
    display: table-row;
  }
  div {
    display: table-cell;
    height: 2em;
    padding: 0.5em $gutter;
  }
  .flag {
    padding: 0 $gutter 0 ($gutter*3);
  }
  .detail {
    padding-right: ($gutter*3);
  }
}

/* ******************************************************** */

.numbers {
  text-align: center;
  display: table;
  width: 100%;

  article {
    display: table-cell;
    width: 25%;
    text-align: center;
  }

  .label {
    margin: 0;
    
  }

  .number {
    color: $white;
    margin: 0 auto $gutter*2 auto;
    border-radius: 100%;
    // 180px;
    font-size: 257.142857142857%;
    width: 2em;
    height: 2em;
    line-height: 2em;
  }

}


/* ******************************************************** */

.url {
  // 120px
  font-size: 171.428571428571%;
  text-align: center;
}
